body {
    background-color: #ffffff;
    color: white;
    margin: 0;
    font-family: rubik;
}

.container {
    /*padding: 40px;*/
    /*margin: 0 auto;*/
    display: inline-block;
    width: 34.35%;
    margin-left: 31%;
    margin-right: 31%;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
    color: #d91515;
}

.main {

}

#next-button {
    display: inline-block;
}

#prev-button {
    display: inline-block;
    border: none;
}



#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;

}

.card:hover {
    animation: bounce 0.5s linear;
    background-color: #b0afaf;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.card-subtitle-2 {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.card-image {
    height: 180px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
